{%extends "layout.html"%}
{%block content%}
<div class ="home">
  <h1 id = "centerme">Broaden your search and find the perfect home</h1>
  <p id = "centerme">Are you searching for accommodation in your local area? Make your life easier 
    with the large selection of accommodation for rent. 
  </p>
  <p id = "centerme">Now it's up to you to discover what we could be your new home!</p>
  <img class = "homeimagecropped" src="/static/images/homebanner2.jpg" alt="homebanner">
</div>
<div class="home">
  <h1 id="centerme">
    Select from a large range of options 
  </h1>
  <p id="centerme">Ranging from country side gateaways to life in the city and tranquility in the countryside</p>
</div>
<div class ="row">
  <div><img class = "subimage1" src="/static/images/subimage1.jpg" alt="homebanner"></div>
  <diV><img class = "subimage2" src="/static/images/subimage2.jpg" alt="homebanner"></diV>
  <diV><img class = "subimage3" src="/static/images/subimage3.jpg" alt="homebanner"></diV>
</div>
<div class="row">
  <div class='w3-container lefty'>
    <div class="w3-card-4">
      <img class="cardimages" src="/static/images/cardimage1.jpg" alt="City">
      <div class="w3-container w3-center">
        <p>City</p>
      </div>
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-card-4">
      <img class="cardimages" src="/static/images/cardimage2.jpg" alt="LakeSide">
      <div class="w3-container w3-center">
        <p>Lake Side</p>
      </div>
    </div>
  </div>
</div>

{%endblock%}


